#!/bin/bash


# feh --no-fehbg --bg-fill {{ [wallpapers.directory + '/'] | product(wallpapers.files) | map('join') | list | join(' --bg-fill ') }}



# Terminate already running bar instances

process=(`ps -aux | grep feh | grep -v grep | awk '{print $2}'`)
for pid in $process; do
	if [ $pid -ne $BASHPID ]; then
		kill -9 $pid
	fi
done


# Get the wallpapers


WALLPAPERS_FOLDER="{{ wallpapers.directory }}"

blacklist_options=""
for file in `cat ~/.config/feh/blacklist.txt`; do
	blacklist_options=`echo "$blacklist_options -not -name $file"`
done

files=`eval "find ${WALLPAPERS_FOLDER} -type f ${blacklist_options}"`


# Set the wallpaper every X seconds

WAIT_FOR_FEHBG=2

if [ -z ${1} ]; then
	WALLPAPER_DURATION=1800
else
	WALLPAPER_DURATION=$1
fi
notify-send -i computer "FEH" "Random wallpaper set to switch every ${WALLPAPER_DURATION} seconds."

monitors_number=`expr $(xrandr --listmonitors | wc -l) - 1`


send_wallpaper_notification () {
	action=$(dunstify -i computer "${monitor}" "Wallpaper has been switched to \"${wallpaper_file_name}\"." -t 15000 -A yes,Open the image)
	case "$action" in
	"yes")
		{{ default.image }} ${wallpaper_full_path}
		;;
	"2")
		;;
	esac
}


while true
do
	feh --randomize --bg-fill ${files} &

	# Send wallpaper notification for each monitor

	sleep ${WAIT_FOR_FEHBG}

	for i in $(seq 0 `expr ${monitors_number} - 1`); do
		monitor=$(xrandr --listmonitors | tail -n `expr ${monitors_number} - ${i}` | head -n 1 | awk '{print $NF}')
		wallpaper_full_path=$(tail -n 1 ~/.fehbg | cut -d " " -f `expr 4  + ${i}` | sed "s/'//g")
		wallpaper_file_name=$(echo "${picture}" | awk -F'/' '{print $NF}')

		send_wallpaper_notification &
	done

	sleep $(expr $WALLPAPER_DURATION - $WAIT_FOR_FEHBG)
done
