[Theme]
# Current theme name
Current={{ appearance.display_manager.theme.name }}

# Cursor theme used in the greeter
CursorTheme={{ appearance.cursor.name }}

# Number of users to use as threshold
# above which avatars are disabled
# unless explicitly enabled with EnableAvatars
DisableAvatarsThreshold=7

# Enable display of custom user avatars
EnableAvatars=true

# Global directory for user avatars
# The files should be named <username>.face.icon
FacesDir=/usr/share/sddm/faces

# Font used in the greeter
Font={{ appearance.fonts[0] }}

# Theme directory path
ThemeDir=/usr/share/sddm/themes