#
# ls
#

alias ls='exa'

alias l='ls -l'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

#
# cd
#

{% if zoxide.enabled %}
alias cd="zoxide"
{% else %}
alias cddo="cd ~/Documents"
alias cdwpro="cd ~/Documents/workspace-pro"
alias cdwper="cd ~/Documents/workspace-perso"
alias cddk="cd ~/.docker"
{% endif %}

#
# file explorer
#

alias e="thunar ."

#
# shortcuts
#

alias d="docker"
{% if kubectl.enabled | default(False) %}
alias k="kubectl"
{% elif kubecolor.enabled | default(False) %}
alias kubectl="kubecolor"
alias k="kubecolor"
{% endif %}
{% if terraform.enabled | default(False) %}
alias k="terraform"
{% endif %}


alias btop="bpytop"