{% if user.perso.git.commit.gpgsign == true %}
[commit]
    gpgsign = true

{% endif %}
[user]
    email = {{ user.perso.email }}
    name = {{ user.pseudo }}
    {% if user.perso.git.commit.gpgsign == true %}
    signingkey = "{{ user.perso.git.commit.signingkey }}"
    {% endif %}

[core]
    sshCommand = ssh -i ~/.ssh/id_{{ user.perso.ssh_keys.type }}_{{ user.perso.ssh_keys.name }} -F /dev/null
