{% if user.pro.git.commit.gpgsign == true %}
[commit]
    gpgsign = true
{% endif %}

[user]
    email = {{ user.pro.email }}
    name = "{{ user.first_name }} {{ user.last_name }}"
    {% if user.pro.git.commit.gpgsign == true %}
    signingkey = "{{ user.pro.git.commit.signingkey }}"
    {% endif %}

[core]
    sshCommand = ssh -i ~/.ssh/id_{{ user.pro.ssh_keys.type }}_{{ user.pro.ssh_keys.name }} -F /dev/null
