#
# ls
#

alias ls='exa'

alias l='ls -l'
alias ll='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

#
# cd
#

alias cddo="cd ~/Documents"
alias cdwpro="cd ~/Documents/workspace-pro"
alias cdwper="cd ~/Documents/workspace-perso"
alias cddk="cd ~/.docker"

#
# file explorer
#

alias e="thunar ."

#
# shortcuts
#

alias tf="terraform"
alias k="kubectl"
alias d="docker"

#
# other
#
alias btop="bpytop"
