version: "3"

services:

  app:
    image: portainer/portainer-ce:latest
    container_name: {{ containers.portainer.app.name | default('portainer') }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ~/.docker/portainer/volumes/data:/data
    restart: unless-stopped
    ports:
      - {{ containers.portainer.app.ports.external | default(9000) }}:9000
