{
    "workbench.iconTheme": "material-icon-theme",
    "explorer.confirmDelete": false,
    "explorer.confirmDragAndDrop": false,
    "security.workspace.trust.untrustedFiles": "open",
    "editor.fontFamily": "{{ appearance.fonts | join(', ') }}, 'Droid Sans Mono', 'monospace', monospace, 'Droid Sans Fallback'",
    "editor.fontLigatures": true,
    "editor.cursorBlinking": "expand",
    "editor.cursorStyle": "line",
    "editor.cursorWidth": 2,
    "snyk.yesWelcomeNotification": false,
    "tabnine.experimentalAutoImports": true,
    "autoDocstring.docstringFormat": "sphinx",
    "peacock.favoriteColors": [
        {
            "name": "Nord Frost 1",
            "value": "#8fbcbb"
        },
        {
            "name": "Nord Frost 2",
            "value": "#88c0d0"
        },
        {
            "name": "Nord Frost 3",
            "value": "#81a1c1"
        },
        {
            "name": "Nord Frost 4",
            "value": "#5e81ac"
        }
    ],
    "peacock.affectSideBarBorder": true,
    "peacock.affectTabActiveBorder": true,
    "peacock.surpriseMeFromFavoritesOnly": true,
    "peacock.surpriseMeOnStartup": true,
    "workbench.productIconTheme": "material-product-icons",
    "editor.bracketPairColorization.enabled": true,
    "editor.guides.bracketPairs": "active",
    "gitlens.hovers.currentLine.over": "line",
    "gitlens.currentLine.enabled": false,
    "gitlens.codeLens.enabled": false,
    "workbench.colorTheme": "Nord",
    // "rgba(208, 135, 112, 0.25)",
    // "rgba(208, 135, 112, 0.25)",
    // "rgba(163, 190, 140, 0.25)",
    // "rgba(180, 142, 173, 0.25)",
    "indentRainbow.colors": [
        "rgba(143, 188, 187, 0.25)",
        "rgb(136, 192, 208, 0.25)",
        "rgb(129, 161, 193, 0.25)",
        "rgb(94, 129, 172, 0.25)",
    ],
    "indentRainbow.errorColor": "rgba(191, 97, 106, 0.6)",
    "indentRainbow.tabmixColor": "rgba(128,32,96,0.6)"
}
