[Appearance]
AntiAliasFonts=true
BoldIntense=true
ColorScheme=nord
DimmValue=137
Font={{ fonts[0] }},10,-1,5,50,0,0,0,0,0
TabColor=255,255,255
UseFontLineChararacters=false

[Cursor Options]
CursorShape=0

[General]
Command=/usr/bin/zsh
DimWhenInactive=false
InvertSelectionColors=false
Name=zsh
Parent=FALLBACK/
ShowTerminalSizeHint=true
TerminalCenter=false

[Interaction Options]
UnderlineFilesEnabled=true

[Scrolling]
HistorySize=10000

[Terminal Features]
BlinkingCursorEnabled=true
