[includeif "gitdir:~/Documents/workspace-pro/"]
    path = ~/.gitconfig-pro
[includeif "gitdir:~/Documents/workspace-perso/"]
    path = ~/.gitconfig-perso

[user]
	useConfigOnly = true

[include]
	path = ~/.git_aliases
